{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block leftside %}
    <div class="span3 leftside hidden-phone">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% for category in categories %}
                    <li class="nav-header row" style="font-size: x-large; line-height: 0px;">
                        {% if category == categories|first %}
                            <img src="{{ STATIC_PREFIX }}goods.png" width="25px" style="margin-right: 5%;"/>
                        {% else %}
                            <img src="{{ STATIC_PREFIX }}other.png" width="25px" style="margin-right: 5%;"/>
                        {% endif %}
                        {{ category.name }}</li>
                    {% for subcat in category.subcategory_set.all %}
                        <li {% if subcat == active_category %} class="active" {% endif %}>
                            <a href="{% url 'subcat_list' subcat.slug %}">{{ subcat.name }}</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'add_company' %}" class="btn btn-large btn-primary" href="">
            Добавить компанию в каталог Litis
        </a>
    </div>
{% endblock %}

{% block client_form %}
    <div class="row">
        <div class="span8">
            <label style="font-family: Georgia; font-size: 28px; margin-top: 20px; margin-bottom: 20px; line-height: 1.2;">Анкета каталога предприятий</label>
            <b><hr></b>
            <form class="form-horizontal" action="{% url 'add_company' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="control-group required {% if field.errors %} error {% endif %}">
                        <label class="control-label">{{ field.label }}:</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline error">
                                {{ field.errors }}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="control-group">
                    <label for="address" class="control-label"> Адрес: </label>
                    <div id="address" class="controls">
                    </div>
                    <div class="controls">
                        <button id="add_adr" class="btn"><i class="icon-plus"></i> Добавить адрес</button>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="user_agreement" onchange="if (this.checked){$('#iFrame').trigger('click');$('#GiantCat').removeAttr( 'disabled' );}else {$('#GiantCat').attr('disabled', 'disabled');}return true;" > Я согласен с условиями пользовательского соглашения
                        </label>
                        <a id="iFrame" title="Условия участия в LITIS Project" href="#inline1"></a>
                        <button id="GiantCat" class="btn btn-primary" role="submit" >Отправить заявку</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div style="display: none;">
        <div id="inline1" style="width:700px; height:500px; overflow:auto;">
            <p>Участие в маркетинговом проекте LITIS Project предусматривает выполнение следующих условий:</p>
            <ol>
                <li>Услуги LITIS Project
                    <p>1.1	LITIS Project предоставляет возможность принять участие в проекте и оказывает рекламные услуги всем предприятиям, организациям, компаниям Украины. На сайте litis.com.ua Вы сможете разместить информацию о Вашей компании.</p>
                    <p>1.2	При заполнении Анкеты пользователи  предоставляют объективную и правдивую информацию о своей компании, контактную информацию, информацию о сфере деятельности компании, информацию о предоставляемых товарах или услугах, информацию о преимуществах и достижениях своей компании, и другую информацию о компании.</p>
                    <p>1.3	После заполнения анкеты информация, которую Вы указали автоматически поступает LITIS-менеджеру, который свяжется с Вами в течении 3-х часов после отправки Анкеты на сайте litis.com.ua.</p>
                </li>
                <li>Стоимость услуг LITIS Project

                    <p>2.1	Заполнение и отправка Анкеты на сайте litis.com.ua является БЕСПЛАТНЫМ.</p>
                    <p>2.2	LITIS Project – это маркетинговый проект стартап, который на начальной стадии своего внедрения  не несет за собой никакой коммерческой ценности.</p>
                    <p>2.3	После внедрения и тестирования данного проекта будут предложены варианты перевода его на  коммерческую основу, что будет предусматривать собой взимание определенной платы с компаний за предоставление им интернет-рекламы, для покрытия рекламных и внутренних расходов LITIS Project.</p>
                </li>
                <li>Информация на сайте litis.com.ua

                    <p>3.1	При заполнении Анкеты Вы обязаны предоставить правдивую и объективную информацию о себе по вопросам содержавшимся в форме Анкеты.</p>
                    <p>3.2	Каждая заполненная Вами Анкета вводится в память сайта, Вы должны внимательно и ответственно относиться к размещению информации о своей компании. LITIS Project не осуществляет полную проверку размещаемой Вами информации и не несет ответственности за соответствие информации законодательству Украины.</p>
                    <p>3.3	В случае предоставления Вами неверной или некорректной информации, администрация LITIS Project оставляет за собой право приостановить и прекратить размещение такой информации на сайте litis.com.ua.</p>
                    <p>3.4	Администрация LITIS Project не несет ответственности за допущенные Вами ошибки или неточности при заполнении Анкеты, а также любые материальные и нематериальные убытки, возникшие в связи с этим.</p>
                    <p>3.5	Администрация LITIS Project не несет ответственности за любое использование третьими лицами информации, размещенной на сайте litis.com.ua. Вся размещаемая на сайте информация – есть собственность размещающих ее пользователей.</p>
                    <p>3.6	Администрация LITIS Project не гарантирует отсутствия ошибок и сбоев, в том числе и в работе программного обеспечения. Но, в случае возникновения последних, предпримет все возможные усилия для их устранения в ближайшие сроки.</p>
                    <p>3.7	Администрация LITIS Project не гарантирует соответствие предоставляемых проектом услуг Вашим личным требованиям и ожиданиям. Но весь спектр услуг, предусмотренных проектом, будут представлены Вам для использования наилучшим образом.</p>
                    <p>3.8	Администрация LITIS Project не несет ответственности за скачиваемую Вами информацию или материалы с сайта litis.com.ua. Вы полностью несете ответственность за потерю информации или вред, нанесенный Вашему компьютеру вследствие скачивания информации с сайта.</p>
                </li>
                <li>	Использование информации о Вашей компании на litis.com.ua

                    <p>4.1	При заполнении Анкеты на персональных листах LITIS  или на сайте litis.com.ua Вы предоставляете право LITIS Project получать, хранить, обрабатывать, использовать и публиковать Ваши персональные данные о компании на сайте litis.com.ua.</p>
                    <p>4.2	При заполнении Анкеты на персональных листах LITIS или на сайте litis.com.ua Вы предоставляете право LITIS Project отображать название Вашей компании, реквизиты компании, контактную информацию (телефон, факс,  e-mail, и др. контакты), адрес электронной почты, адрес расположения компании на сайте litis.com.ua.</p>
                    <p>4.3	Заполняя Анкету LITIS Project, Вы наделяете нас правом использовать Вашу контактную информацию для электронной почтовой рассылки, а именно уведомлять Вас о новых возможностях, акциях и др. новостях LITIS Project. Вы можете всегда отказаться от проведения рассылки.</p>
                    <p>4.4	LITIS Project не передает Ваших персональных данных третьим лицам, за исключением случаев, определенных законом, в интересах национальной безопасности, соблюдения прав человека, экономического благополучия. (Например, по запросу государственных органов, имеющих право потребовать и получить персональные данные пользователей).</p>
                    <p>4.5	Администрация LITIS Project готова выслушать Ваши пожелания, предложения, сотрудничество, просьбы, советы, жалобы по  контактным номерам или на адрес электронной почты (litisproject@gmail.com), указанные на сайте litis.com.ua в разделе «Контакты».</p>
                    <p>4.6	Для изменения информации о Вашей компании на сайте litis.com.ua, или удаления персональных данных Вы можете обращаться по контактным номерам или на адрес электронной почты, указанные на сайте litis.com.ua в разделе «Контакты».</p>
                    <p>Информация о Вашей компании будет скорректирована или удалена (в зависимости от Вашего пожелания) в течении 12-ти часов с момента запроса или по согласованию с Вами.</p>
                    <p>Уведомлением о реализации Вашего запроса будет служить  e-mail письмо, отправленное на указанный Вами адрес или телефонный звонок LITIS-менеджера по работе с клиентами.</p>
                    <p>4.7	LITIS Project направляет свои усилия на защиту Ваших данных путем сбора и хранения их на защищенном сервере.</p>
                    <p>4.8	LITIS Project не несет ответственности за ущерб или убытки Вашей компании или Вас лично, понесенные вследствие ошибочного понимания или непонимания условий участия в маркетинговом проекте  LITIS Project.</p>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
